.nav {
    background: #ffffff;
    padding: 16px;
}

.nav__list {
    display: flex;
    margin: 0;
    padding: 0;
}

.nav__item {
    list-style: none;
    padding: calc(16px/2);
}

.nav__item:hover {
    background: #f5f5f5;
}

.nav__item:active {
    background: #eeeeee;
}

.nav--mobile {
    padding: calc(16px/2);
}

